<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>anypoint-exchange</id>
      <username>cb967acbde4e45b4a019b0bba7cd055a</username>       <!-- Your Connected App Client ID -->
      <password>D1411F082eBD49e8807f1593Ed8FC62B</password>       <!-- Your Connected App Client Secret -->
    </server>

    <server>
      <id>Repository</id>
      <username>cb967acbde4e45b4a019b0bba7cd055a</username>       <!-- Same Client ID here -->
      <password>D1411F082eBD49e8807f1593Ed8FC62B</password>       <!-- Same Client Secret here -->
    </server>
  </servers>

</settings>